@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Markazi+Text:wght@400..700&family=Parkinsans:wght@300..800&family=Playwrite+AU+VIC+Guides&family=Playwrite+IS:wght@100..400&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Parkinsans", serif;
}

.myButton {
  border-radius: 5px !important;
  border: 1px solid #888 !important;

  text-transform: capitalize !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;

  font-size: 16px !important;
}

html {scroll-behavior: smooth;}
